@font-face {
  font-family: "iconfont"; /* Project id 5022455 */
  src: url('iconfont.woff2?t=1757986201552') format('woff2'),
       url('iconfont.woff?t=1757986201552') format('woff'),
       url('iconfont.ttf?t=1757986201552') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daichulishixiang:before {
  content: "\e636";
}

.icon-yichuligaojing:before {
  content: "\e600";
}

.icon-yujing:before {
  content: "\ecb3";
}

.icon-Alert:before {
  content: "\e7d7";
}

